body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .5em;
    top: 55%;
    background: linear-gradient(to right, grey, white);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
}

h2 {
    font: 300 1.5em 'Raleway', sans-serif;
    text-transform: capitalize;
    letter-spacing: .1em;
}